@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --color-orange: #ff7300;
    --color-white: #ffffff;
    --color-circle: #231F20;
}

header {
    position: fixed;
    width: 100%;
}

* {
    font-family: 'Montserrat', sans-serif;
}
