/* CABECALHO */

.header {
    background-color: #ffffff;
    max-height: 60px;
    padding-left: 50px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 145px;
    height: 55px;
}

.nav-list {
    display: flex;
    gap: 40px;
    justify-content: end;
    padding-right: 50px;
}

.nav-item a {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    transition: all 0.3s ease-in;
}

.nav-item a:hover {
    background-color: var(--color-orange);
}

.nav-btn {
    border: 3px solid var(--color-orange);
    border-radius: 15px;
}

.nav-btn a {
    font-size: 20px;
    color: var(--color-orange);
    padding: 10px;
}

/* SECTIONS */
.home {
    background-image: url(../img/background-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
    margin: 80px 50px 0px 170px;
}

.home-content h1 {
    color: var(--color-white);
    font-size: 150px;
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 120px;
}

.home-content span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 30px;
    margin-left: 16px;
    line-height: 0px;
}

.home-content p {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
    font-weight: 700;
}





.sobre {
    background-image: url(../img/background-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}