/* CABECALHO */

.header {
    background-color: #ffffff;
    height: 9vh;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 145px;
    height: 55px;
}

.nav-list {
    display: flex;
    gap: 40px;
    justify-content: end;
}

.nav-item a {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    transition: all 0.3s ease-in;
}

.nav-item a:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
    opacity: 0.8;
}

.nav-btn a {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    background-color: var(--color-orange);
    color: var(--color-white);
    transition: all 0.3s ease-in;
}

.nav-btn a:hover {
    color: #000000;
    opacity: 0.8;
}

/* SECTIONS */
.home {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 13rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 420px;
    height: 390px;
    /* border: 5px solid crimson; */
    box-sizing: border-box;
}

.home-container h1 {
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 130px;
    line-height: 110px;
    margin-bottom: 20px;
}

.home-container h2 span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 30px;
    margin-left: 15px;
    margin-bottom: -20px;
    text-transform: uppercase;
}

.home-container p {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
    font-weight: 700;
}

.btn-subscribe {
    padding: 7px 30px;
    border: 5px solid var(--color-orange);
    color: var(--color-orange);
    border-radius: 19px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-subscribe:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
    border: 5px solid white;
}



.bonus-content {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.graphics-bonus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 800px;
}

.porcent-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 380px;
    height: 450px;
}

.circle-porcent {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    border: 25px solid #24acfa;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    padding: 0px;
    background-color: var(--color-circle);
}

.circle-porcent h1 {
    font-size: 30px;
    color: white;
}

.paragraph-porcent p {
    margin-top: 20px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 25px;
}


.alunos-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 380px;
    height: 450px;
}

.circle-alunos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    border: 25px solid #FF0000;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    padding: 5px;
    background-color: var(--color-circle);
}

.circle-alunos h1 {
    font-size: 30px;
    color: white;
}

.paragraph-alunos {
    margin-top: 20px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 25px;
}


.meses-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 380px;
    height: 450px;
}

.circle-meses {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    border: 25px solid #FF6100;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    padding: 5px;
    background-color: var(--color-circle);
}

.circle-meses h1 {
    font-size: 30px;
    color: white;
}

.paragraph-meses p {
    margin-top: 20px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 25px;
}


.sobre-section {
    background-image: url(../img/background-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--color-white);
}

.sobre-container {
    width: 600px;
    height: 500px;
    /* border: 5px solid crimson; */
    margin-left: 130px;
}

.sobre-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.sobre-container h1 {
    font-family: 'League Gothic', sans-serif;
    font-weight: 400;
    font-size: 180px;
    text-transform: uppercase;
}

.sobre-container span > h1 {
    font-size: 38px;
    margin-bottom: -35px;
}

.sobre-container p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}


.depoimento-section {
    background-image: url(../img/background-depoimentos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--color-white);
}

.contato-section {
    background-image: url(../img/background-contato.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--color-white);
}